<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--<configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfiguration,Microsoft.Practices.Unity.Configuration"/> 
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="Moneda.UI.Utilities.IAPIAccess, Moneda.UI.Utilities"
                mapTo="Moneda.UI.Utilities.APIAccess, Moneda.UI.Utilities"/>
        </types>
      </container>
    </containers>
  </unity>-->
</configuration>